---
import Layout from '../layouts/Default.astro'
import Hero from '../components/Hero.svelte'
---

<Layout
  title="Hello"
  desc=""
>
  <div class="bg-base-200">
    <Hero
      title="Big title text here"
      desc="smaller description text here"
    >
      <a class="btn btn-primary" href="/about">Go to about page</a>
    </Hero>
  </div>
  <div class="flex justify-center">
    <div class="w-full max-w-6xl">
      <div class="px-6 py-20">
        <p class="my-6">
          Ducimus quaerat itaque quia doloribus nam eaque explicabo. Magnam ea enim. Est fuga qui totam dolores asperiores corrupti. Aut illum optio sequi fuga recusandae sunt. Repellat voluptas delectus iure magnam velit est repellat. Rem officiis nihil veritatis harum et consequuntur at ex.
          Natus ratione commodi. Qui cupiditate sint. Ea eveniet illum iure quo. Sed et libero quia esse sapiente aperiam doloremque. Tenetur in quidem.
          Repudiandae commodi omnis. Est inventore dolores omnis quia tempore tempore. Repellendus quo est consequatur et magnam enim doloremque occaecati. Rerum nobis amet aperiam explicabo modi voluptatem. Odit iure nemo esse quidem ullam hic ipsa. Mollitia distinctio quis omnis quos esse praesentium.
        </p>
        <p class="my-6">
          Ducimus quaerat itaque quia doloribus nam eaque explicabo. Magnam ea enim. Est fuga qui totam dolores asperiores corrupti. Aut illum optio sequi fuga recusandae sunt. Repellat voluptas delectus iure magnam velit est repellat. Rem officiis nihil veritatis harum et consequuntur at ex.
          Natus ratione commodi. Qui cupiditate sint. Ea eveniet illum iure quo. Sed et libero quia esse sapiente aperiam doloremque. Tenetur in quidem.
          Repudiandae commodi omnis. Est inventore dolores omnis quia tempore tempore. Repellendus quo est consequatur et magnam enim doloremque occaecati. Rerum nobis amet aperiam explicabo modi voluptatem. Odit iure nemo esse quidem ullam hic ipsa. Mollitia distinctio quis omnis quos esse praesentium.
        </p>
        <p class="my-6">
          Ducimus quaerat itaque quia doloribus nam eaque explicabo. Magnam ea enim. Est fuga qui totam dolores asperiores corrupti. Aut illum optio sequi fuga recusandae sunt. Repellat voluptas delectus iure magnam velit est repellat. Rem officiis nihil veritatis harum et consequuntur at ex.
          Natus ratione commodi. Qui cupiditate sint. Ea eveniet illum iure quo. Sed et libero quia esse sapiente aperiam doloremque. Tenetur in quidem.
          Repudiandae commodi omnis. Est inventore dolores omnis quia tempore tempore. Repellendus quo est consequatur et magnam enim doloremque occaecati. Rerum nobis amet aperiam explicabo modi voluptatem. Odit iure nemo esse quidem ullam hic ipsa. Mollitia distinctio quis omnis quos esse praesentium.
        </p>
      </div>
    </div>
  </div>
</Layout>